body{
    background-color: rgb(101, 105, 109);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.card {
    background-color: #d5d2d2;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1rem;
    text-align: center;
}

.card img{
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.card h2 {
    color: rgb(19, 39, 56);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card p {
    margin: 0.5rem 0;
    font-size: 0.95rem;
    color: #5b5656;
}